<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestRestDAL.Properties.Settings.GestRestConnectionString"
            connectionString="Data Source=IRIA-PC\SQLEXPRESS;Initial Catalog=GestRest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>